.example-card {
    align-content: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 75%;
    margin: 10px auto;
  }
  .example-form {
    height: 40pvh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  