<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-card-content>
      <form class="example-form" (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <table cellspacing="0">
          <tr>
            <td>
              <mat-form-field>
              <input matInput placeholder="Username" ngModel name="username" #usernameInput="ngModel" required>
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field>
            <input matInput placeholder="Password" ngModel type="password" name="password" #passwordInput="ngModel" required>
          </mat-form-field></td>
         </tr>
         <tr>
         <td>
            <button mat-raised-button [mat-dialog-close] color="accent" type="submit">Sign In</button>
         </td>
         </tr>
      </table>
      </form>
      <!--mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner-->
    </mat-card-content>
    <!--mat-card-actions>
      <button mat-raised-button (click)="onLogin(loginform)" color="accent">Login</button>
    </mat-card-actions-->
  </mat-card>
  