<div>
    <app-widget-area></app-widget-area>
  </div>
  
  <br>
  
  <mat-divider></mat-divider>
  
  <br>
  
  <!--div felxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
      <app-widget-card label="Books" total="500" percentage="50"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
      <app-widget-card label="Books By Dept" total="50" percentage="40"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="Gate Count" total="250" percentage="30"></app-widget-card>
  </mat-card>
  <mat-card fxFlex="25">
      <app-widget-card label="Ebooks downloads" total="365" percentage="20"></app-widget-card>
  </mat-card-->
  <mat-card style="width: 20%;">
    <app-widget-card label="Books Issued" total="500" percentage="50"></app-widget-card>
  </mat-card>
  <mat-card style="width: 20%;margin-left: 25%;margin-top: -12%;">
    <app-widget-card label="Books Returned" total="50" percentage="40"></app-widget-card>
  </mat-card>
  <mat-card style="width: 20%;margin-left: 50%;margin-top: -12%;">
    <app-widget-card label="Ebooks downloads" total="365" percentage="20"></app-widget-card>
  </mat-card>
  <mat-card style="width: 20%;margin-left: 75%;margin-top: -12%;">
    <app-widget-card label="Gate Count" total="250" percentage="30"></app-widget-card>
  </mat-card>
  <br>
  <mat-divider></mat-divider>
  <br>
  <div>
    <app-widget-pie></app-widget-pie>
  </div>
  
  <br>
  
  <mat-divider></mat-divider>
  
  <br>
  <footer>
    &copy; All Rights reserved JR 2020
  </footer>

  <!--div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px"><br>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">Table</div><br>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px"><br>
      <app-widget-pie></app-widget-pie>
  </div>
  </div>
  
  <br>
  <br>
  <br-->
  
