<app-charttypenavbar></app-charttypenavbar>
<div class="widget" *ngIf="sbarchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsSbar"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="scolumnchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsScolumn"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="barchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsbar"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="columnchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionscolumn"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="linechart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsline"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="dualchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsdual"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="areachart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsarea"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="piechart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionspie"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="donutchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsdonut"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="polarchart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionspolar"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
<div class="widget" *ngIf="bubblechart">
  <highcharts-chart  [Highcharts]="Highcharts" [options]="chartOptionsbubble"
  style="width: 100%; height: 400px; display: block;"></highcharts-chart>
</div>
